# Board Game Insights - Data Exploration
Let the fun begin!

## Setup and Initialization

In [1]:
# import packages
import pandas as pd
import numpy as np


# Setup Constants
FILE_PATH = "bgg_dataset.csv"
BORDER = "\n" + "="*50 + "\n"

# Establish path
import pathlib
PATH = pathlib.Path(r"C:\Users\kyrst\OneDrive\Documents\DataAnalyticsPortfolio\bgg")

# Import CSV
df = pd.read_csv(PATH / FILE_PATH, sep=";") # sep is needed since this dataset separates columns with ;


# view sample
print(f"# Columns: {len(df.columns)}")
print(f"# Rows: {len(df)}")
print(f"# Unique Board Games: {df['ID'].nunique()}")
df.head()

# Columns: 14
# Rows: 20343
# Unique Board Games: 20327

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
0,174430.0,Gloomhaven,2017.0,1,4,120,14,42055,"8,79",1,"3,86",68323.0,"Action Queue, Action Retrieval, Campaign / Bat...","Strategy Games, Thematic Games"
1,161936.0,Pandemic Legacy: Season 1,2015.0,2,4,60,13,41643,"8,61",2,"2,84",65294.0,"Action Points, Cooperative Game, Hand Manageme...","Strategy Games, Thematic Games"
2,224517.0,Brass: Birmingham,2018.0,2,4,120,14,19217,"8,66",3,"3,91",28785.0,"Hand Management, Income, Loans, Market, Networ...",Strategy Games
3,167791.0,Terraforming Mars,2016.0,1,5,120,12,64864,"8,43",4,"3,24",87099.0,"Card Drafting, Drafting, End Game Bonuses, Han...",Strategy Games
4,233078.0,Twilight Imperium: Fourth Edition,2017.0,3,6,480,14,13468,"8,70",5,"4,22",16831.0,"Action Drafting, Area Majority / Influence, Ar...","Strategy Games, Thematic Games"

## Data Cleaning

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20343 entries, 0 to 20342
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  20327 non-null  float64
 1   Name                20343 non-null  object
 2   Year Published      20342 non-null  float64
 3   Min Players         20343 non-null  int64
 4   Max Players         20343 non-null  int64
 5   Play Time           20343 non-null  int64
 6   Min Age             20343 non-null  int64
 7   Users Rated         20343 non-null  int64
 8   Rating Average      20343 non-null  object
 9   BGG Rank            20343 non-null  int64
 10  Complexity Average  20343 non-null  object
 11  Owned Users         20320 non-null  float64
 12  Mechanics           18745 non-null  object
 13  Domains             10184 non-null  object
dtypes: float64(3), int64(6), object(5)
memory usage: 2.2+ MB

**Conclusions**
- `ID`, `Year Published` and `Owned Users` don't need to be floats
- `Rating Average` and `Complexity Average` use commas instead of decimal points, which makes pandas interpret them as objects
- `Name`, `Mechanics`, and `Domains` are objects that could be strings

We can fix some of this by importing the dataset again and establishing some rules up front!

In [4]:
df = pd.read_csv(
    PATH / FILE_PATH, 
    sep=";",            # Tells pandas to look for semicolons
    decimal=",",        # Fixes the '8,5' vs '8.5' issue automatically!
    engine="pyarrow",   # Uses the fast arrow engine for reading
    dtype={'ID':'string', 'Year Published': 'Int64', 'Owned Users': 'Int64'}, # Ensures that pyarrow doesn't make incorrect assumptions
    dtype_backend="numpy_nullable" # Safer middle ground for EDA
)

df.head()

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
0,174430,Gloomhaven,2017,1,4,120,14,42055,8.79,1,3.86,68323,"Action Queue, Action Retrieval, Campaign / Bat...","Strategy Games, Thematic Games"
1,161936,Pandemic Legacy: Season 1,2015,2,4,60,13,41643,8.61,2,2.84,65294,"Action Points, Cooperative Game, Hand Manageme...","Strategy Games, Thematic Games"
2,224517,Brass: Birmingham,2018,2,4,120,14,19217,8.66,3,3.91,28785,"Hand Management, Income, Loans, Market, Networ...",Strategy Games
3,167791,Terraforming Mars,2016,1,5,120,12,64864,8.43,4,3.24,87099,"Card Drafting, Drafting, End Game Bonuses, Han...",Strategy Games
4,233078,Twilight Imperium: Fourth Edition,2017,3,6,480,14,13468,8.7,5,4.22,16831,"Action Drafting, Area Majority / Influence, Ar...","Strategy Games, Thematic Games"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20343 entries, 0 to 20342
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  20327 non-null  string
 1   Name                20343 non-null  string
 2   Year Published      20342 non-null  Int64
 3   Min Players         20343 non-null  Int64
 4   Max Players         20343 non-null  Int64
 5   Play Time           20343 non-null  Int64
 6   Min Age             20343 non-null  Int64
 7   Users Rated         20343 non-null  Int64
 8   Rating Average      20343 non-null  Float64
 9   BGG Rank            20343 non-null  Int64
 10  Complexity Average  20343 non-null  Float64
 11  Owned Users         20320 non-null  Int64
 12  Mechanics           18745 non-null  string
 13  Domains             10184 non-null  string
dtypes: Float64(2), Int64(8), string(4)
memory usage: 2.4 MB

### Null handling

In [ ]:
# Count nulls per column
df_nulls = df.isnull().sum().sort_values(ascending=False)
df_nulls[df_nulls > 0]

In [ ]:
# Inspect samples of the dataset where each column has nulls
from IPython.display import display

def inspect_nulls(df):
    # First, list the columns with nulls
    null_counts = df.isnull().sum()
    cols_with_nulls = null_counts[null_counts > 0].index

    # Add condition for no nulls
    if len(cols_with_nulls) == 0:
        print("Huzzah! No nulls found!")
        return

    # Loop for null cols
    for col in cols_with_nulls:
        print(BORDER)
        print(f" Top 5 rows where '{col}' is NULL")
        print(BORDER)
        display_df = df[df[col].isnull()].head()
        display(display_df)

inspect_nulls(df)

Based on the samples and counts, this is my conclusion for each column with missing values:
| Column Name | Null Count | Strategy |
| :--- | :--- | :--- |
| **Domains** | 10,159 | Fill with Null Indicator |
| **Mechanics** | 1,598 | Fill with Null Indicator |
| **Owned Users** | 23 | Drop Rows |
| **ID** | 16 | Drop Rows |
| **Year Published** | 1 | Drop Rows |

`Domains` and `Mechanics` have a lot of nulls. It could be random or the games with nulls could have more in common. Either way, let's track it by keeping these rows and imputing with something else.

Next, I'll explore `Domains` and `Mechanics` to understand them better before deciding on impute values and next steps

In [ ]:
# Let's see how many unique values exist for Domains and Mechanis
check_unique = ['Domains', 'Mechanics']

for col in check_unique:
    print(f"{col}: {df[col].nunique()} unique values")

Since `Domains` has a limited # of unique values, let's check them all out. 
- Conclusion: It's a mix of single value and comma delimited lists

In [ ]:
df['Domains'].value_counts(dropna=False)

Since there are many unique values for `Mechanics`, let's look at the top and bottom values
- Conclusion: There are more lists, separated by a "," or a "/"

In [ ]:
print(BORDER)
print("Top 10:")
print(BORDER)
print(df['Mechanics'].value_counts(dropna=False).head(10))
print(BORDER)
print("Bottom 10:")
print(BORDER)
print(df['Mechanics'].value_counts(dropna=False).tail(10))

Based on the investigation above, I'll simply fill nulls with 'Unknown' and then proceed with one-hot encoding later

In [ ]:
# Drop rows based on nulls
drop_nulls = ['Owned Users', 'ID', 'Year Published']
df = df.dropna(subset = drop_nulls)

# Impute
df['Domains'] = df['Domains'].fillna("Unknown")
df['Mechanics'] = df['Mechanics'].fillna("Unknown")

df.info()

In [ ]:
df.head()